.login-container{
    background-color: cornflowerblue;
}

.form-login{
  background-image:  linear-gradient(
    rgba(233, 170, 170, 0.883),
    rgba(194, 221, 168, 0.02)
  );
  padding: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  box-shadow: 10px 10px 8px #f5f5f5;
}

.login-input{
  background-color: #15232c;
    color: #adb5bd;
    border: none;
    padding:20px;
    border-radius: 35px;
    width: 100%;
   transition: background-color .6s;
   text-align: center;
   
}
.login-input:hover {
  background-color:silver;
  color: black;
}


.register-text{
  color: blue;
}

.register-text:hover {
  color:rgb(10, 10, 10);
}
.sign-in{
  background-color: #15232c;
    color: #adb5bd;
    border: none;
    padding:20px;
    border-radius: 35px;
    width: 70%;
   transition: background-color .6s;
 
}
.sign-in:hover {
 
    background-color:silver;
    color: black;
}



