/* -------------------------style for footer section-------------------  */
.footer-container {
  background-color: #333;
}
.footer-about {
  text-align: justify;
}
.input {
  width: 250px;
  padding: 8px;
  border-radius: 5px;
}
.subscribe {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
}
.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon i {
  font-size: 25px;
  color: #ddd;
  background-color: tomato;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.info a {
  text-decoration: none;
  color: white;
}

/* -------------Add blog style -------------------*/
.add-blog {
  padding-bottom: 50px;
}

.add-blog form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-blog form input,
textarea {
  width: 60%;
  margin-bottom: 13px;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 4px;
}
.btn-design-add {
  background: linear-gradient(to top, #800080, #ffc0cb);
}
select {
  width: 60%;
  margin-bottom: 8px;
  border: 1px solid rgb(196, 194, 194);
  border-radius: 4px;
  padding-bottom: 5px;
  padding-top: 5px;
}
