/* -------------------------style for footer section-------------------  */
.footer-container {
  background-color: #333;
}
.footer-about {
  text-align: justify;
}
.input {
  width: 250px;
  padding: 8px;
  border-radius: 5px;
}
.subscribe {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
}
.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon i {
  font-size: 25px;
  color: #ddd;
  background-color: tomato;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.info a {
  text-decoration: none;
  color: white;
}
