@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@200&family=Rubik&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Shalimar&family=Yuji+Syuku&display=swap");

.dashboard {
  font-family: "Ubuntu", sans-serif;
  display: block;
  padding-left: 20px;
  color: Black;
}
.dash-btn {
  font-weight: bold;
}
.c-body {
  background: #b995b9;
  color: white;
}
.card-head {
  background: #cfb2cf;
}
.card-footer {
  background: #cfb2cf;
}

.text-title {
  display: block;
  margin: 11px 0 17px 0;
  font-size: 40px;
  line-height: 80px;
  color: #c51ca0;
  text-shadow: 0 7.36px 8.896px #fa7ff0, 0 -5px 5px #fff;
  letter-spacing: -4px;
  font-family: "Yuji Syuku", serif;
  text-transform: uppercase;
}

.btn-sub {
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: #9b759b;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1px;
}
/* .card {
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(32, 32, 31, 0.671);
} */
