.card {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border: none;

  transition: all 0.3s linear;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: none;
}
.title {
  font-weight: bolder;
}

.card-foot {
  font-weight: 500;
}

.button {
  background-color: rgb(240, 165, 25);
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
}
